* {
  font-family: 'Electrolize', sans-serif;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background-color: #111;
}

#lastnavbaritem {
  float:right;
}
button {
  Color: black;
  background-color: lightgray;
  border:2px solid black;
  margin:15px;
  padding:5px;
}
body {
  background-color: Gray;
}
div {
  display:inline;
  align: center;
}
.tooltip {
    position: relative;
    display: inline;
  	float: left;
  	top: 25px;
  	bottom: 0;
  	overflow: hidden;
    border: 2px solid black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
