* {
  font-family: 'Electrolize', sans-serif;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468189;
}

li {
    float: left;
}

li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background-color: #111;
}

#lastnavbaritem {
  float:right;
}
button {
  Color: black;
  background-color: #468189;
  border:2px solid #77ACA2;
  margin:15px;
  padding:5px;
}
body {
  background-color: #031926;
}
div {
  display:inline;
  align: center;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}
.itemtext {
  position: absolute;
  bottom: 16px;
  right: 20px;
}
.gmi {
  padding: 10px;
}
